Alle benodigde libraries en referenties naar andere documentenvoor deze applicatie:

main.py:

import random

from api_call import get_pokemon_info
from helper import give_nickname, choose_move, shiny_chance, add_to_pokedex, \
    display_pokemon_info, check_pokedex, perform_attack
from type_chart import type_effectiveness_chart

helper.py:

import math
import random

from api_call import get_pokedex_info
from type_chart import type_effectiveness_chart

api_call.py:

from types import NoneType

import requests
import os
import random
from openai import OpenAI
from dotenv import load_dotenv